.wrapperMagazineMenuPersonal {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.navWrapperMagazineMenu {
  display: flex;
  flex-direction: column;
}

.wrapperMagazineMenu {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.settingsH2 {
  display: inline-block;
  font-size: 34px;
  padding: 20px 40px 20px 20px;
  color: #1277d3;
  background: #c0dbf5;
  background: linear-gradient(135deg, transparent 0px, #c0dbf5 0) top left,
    linear-gradient(-135deg, transparent 26px, #c0dbf5 0) top right,
    linear-gradient(-45deg, transparent 26px, #c0dbf5 0) bottom right,
    linear-gradient(45deg, transparent 0px, #c0dbf5 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.contentWrapper {
  margin-top: 108px;
}

.magazineMenuNavlink {
  color: #1277d3;
  width: 160px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}

.magazineMenuNavlink.active {
  color: #054d90;
}
