.marketPlaceRefButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  padding-top: 13px;
  width: 60px;
  height: 70px;
  transition: all 0.5s ease 0s;
}

.marketPlaceRefButton:hover {
  background-color: #17577c;
}

.marketPlaceRefButton.active{
  color: black;
  font-size: 50;
}
