.marketPlaceRefButtonSberm {
  background-color: transparent;
  color: #aaaaaa;
  font-size: 20px;
  margin-right: 20px;
  padding-top: 25px;
  width: 60px;
  height: 70px;
  transition: all 0.5s ease 0s;
}

.marketPlaceRefButtonSberm.active {
  color: #fff;
  font-size: 50;
  margin-right: 20px;
}
