.marketPlaceRefButtonSberm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #aaaaaa;
  font-size: 20px;
  padding: 50px;
  width: 60px;
  height: 70px;
  transition: all 0.5s ease 0s;
  padding-top: 25px;
  margin-top: 7px;
}

.marketPlaceRefButtonSberm.active {
  color: #fff;
  font-size: 50;
}




